{% extends "index.html" %}
{% block body %}
<body  >
<!--style="position: fixed;top: 0;left: 0; width: 100%; height: 100%; background-image: url('/static/images/background.jpg');-->
    <!--background-repeat: no-repeat; background-attachment: fixed; background-size: 100%; filter:alpha(opacity=80);"-->


<div class="logoShield" style="display: flex; justify-content: center;">
        <img src="../static/images/shield.png" style="width: 30%;height: 50%; margin: -20px 0px -10px 0px;" align="middle">
    </div>


<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <!--<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" >Sign In</a></div>-->
                </div>
                <div class="panel-body" >
                    <form id="signup" class="form-horizontal" role="form">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>



                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input id="inputEmail" type="text" class="form-control" name="email" placeholder="Email Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">Username</label>
                            <div class="col-md-9">
                                <input id="inputUname"  type="text" class="form-control" name="firstname" placeholder="Username">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="lastname" class="col-md-3 control-label">Last Name</label>-->
                            <!--<div class="col-md-9">-->
                                <!--<input type="text" class="form-control" name="lastname" placeholder="Last Name">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input id="inputPassword" type="password" class="form-control" name="passwd" placeholder="Password">
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label for="icode" class="col-md-3 control-label">Invitation Code</label>-->
                            <!--<div class="col-md-9">-->
                                <!--<input type="text" class="form-control" name="icode" placeholder="">-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" class="btn btn-info" onclick="signup_post('sign_up')"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                <span style="margin-left:8px;">or</span>
                            </div>
                            <div id="errormsg" style="color:red;" align="left"></div>
                        </div>

                        <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-fbsignup" type="button" class="btn btn-primary" href="{{ url_for('oauth_authorize', provider='facebook') }}" >
                                    <i class="icon-facebook"></i>   Sign Up with Facebook</button>
                            </div>

                        </div>



                    </form>
                 </div>
            </div>
</div>








    <!--<div class="logoShield" style="display: flex; justify-content: center;">-->
            <!--<img src="../static/images/shield.png" style="width:58%;height:25%;" align="middle">-->

    <!--</div>-->
    <!--<div class="logoText">-->
        <!--<span>SIGN UP</span>-->
    <!--</div>-->
    <!--<form class="form-signin" id="signup">-->
        <!--&lt;!&ndash;<h2 class="form-signin-heading">Please sign in</h2>&ndash;&gt;-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 col-xs-offset-4">-->
                <!--&lt;!&ndash;<label for="inputEmail" class="sr-only">Email address</label>&ndash;&gt;-->
                <!--<input type="text" id="inputUname" class="form-control" placeholder="Username"  autofocus>-->
            <!--</div>-->
        <!--</div>-->

      <!--<div class="row">-->
            <!--<div class="col-xs-4 col-xs-offset-4" style="margin-top: 15px;">-->
                <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email" required>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<label for="inputPassword" class="sr-only">Password</label>&ndash;&gt;-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 col-xs-offset-4" style="margin-top: 15px;">-->
                <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" >-->
            <!--</div>-->
        <!--</div>-->

    <!--</form>-->
    <!--<div class="checkbox col-xs-4 col-xs-offset-4">-->
        <!--<div>-->
            <!--<button class="btn btn-lg btn-primary"  onclick="signup_post('sign_up')">SignUp</button>-->
        <!--</div>-->
        <!--<div id="errormsg" style="color:red;" align="left"></div>-->


    <!--</div>-->

</body>

{% endblock %}